#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  list-style: none;
  height: 100vh;
  overflow: hidden;
}

html,body{
  margin: 0;
}
// 控制全局滚动栏样式
::-webkit-scrollbar{
  width: 10px;
  background-color: #686a6b;
  // border-left: #3f3f3f 1px solid;
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: #b1b1b1;
  width: 10px;
}
::-webkit-scrollbar-button{
  display: none;
}