/**
  注：该样式作为所有样式的起点
  即：全局引用样式都改通过该文件引用
*/

@import "./variable.scss";
@import "./reset.scss";
@import "./global.scss";

/* 设置滚动条颜色 */
body ::-webkit-scrollbar-thumb {
  background-color: rgb(187, 187, 187);
  border-radius: 4px;
}

body ::-webkit-scrollbar-track {
  background-color: rgb(224, 224, 224);
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}


body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  display: flex;
  color: #2c3e50;
  list-style: none;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

html,
body {
  margin: 0;

  ul {
    padding: 0;

    li {
      list-style: none;
    }
  }
}

// 控制全局滚动栏样式
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  background-color: #d4d4d4;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #656565;
  width: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}