.menu-container {
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  // width: 196px;
  box-shadow:
    0 1px 6px -4px rgba(0, 0, 0, 0.12),
    0 4px 8px 0 rgba(0, 0, 0, 0.08),
    0 6px 16px 8px rgba(0, 0, 0, 0.05);
  background-color: #fcfcfc;
  border: 1px solid #a0a0a0;

  > ul.menu-list {
    padding: 6px 0;
    margin: 0px 0;
    color: #2c3e50;

    > li.menu-list-item {
      padding: 5px 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #f5f7fa;
        color: #409eff;
      }

      &.has-gap {
        border-top: 1px solid #d8d8d8;
      }

      &.has-children {
        padding-right: 10px;
        position: relative;
      }

      .right-arrow-icon {
        display: flex;
        align-items: center;
        height: 20px;
        width: 20px;
        justify-content: center;
      }
    }
  }
}
